<h1>Printing out </h1>

<h3>Text Setting</h3>
<h2>{{ section.settings.text_setting }}</h2>

<h2>Text Area</h2>

<p>{{ section.settings.textarea_setting |  newline_to_br}}</p>

<h2>Rich Text Settings</h2>
<div>{{ section.settings.richtext_setting }}</div>

<h2>Range Settings</h2>
<p>{{ section.settings.ranget_setting }}</p>

{% schema %}
{
  "name": "mySection",
  "tag": "section",
  "class": "page-width rte",
  "settings": [

  {
    "type": "text",
    "id": "text_setting",
    "label": "Theme Setting",
    "default": "this is the default text",
    "info": "placing some more help to merchants",
    "placeholder": "Preview what will u write"
  },
  {
    "type": "textarea",
    "id": "textarea_setting",
    "label": "textarea Setting",
    "default": "Default Text",
    "placeholder": "Preview what will u write"
  },
  {
    "type": "richtext",
    "id": "richtext_setting",
    "label": "richtext Setting"
    
  },
  {
    "type": "range",
    "id": "ranget_setting",
    "label": "range Setting",
    "min": 0, 
    "max": 100,
    "step": 10,
    "default": 10,
    "unit": "px"
    
  }


  ],
  "presets": [
    {
      "name": "mySection"
    }
  ]
}
{% endschema %}
